* {
    box-sizing: border-box;
    ;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 5px;
  }

img{
  width: 100%;
  height: auto;
  background-color: #FFD1DC;
  border-radius: 35px;
  padding: 5px;
}
body{
margin-left: 10%;
margin-right: 10%;
background-color: #ffeff2
}
  
#nombre{
  text-align: center;
  background-color: #FFD1DC
}

nav{
  float: right;
  width: 100%;
  border-radius: 15px;
  background-color: #a0deee;
}

button{
  width: 18%;
  float: right;
  margin: 5px;
  border-radius: 15px;
  background-color:#FFD1DC
}

a:link{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

section{
  background-color: #FFD1DC;
  border-radius: 25px;
  padding: 20px;
}

div{   
  border-radius: 25px;
  padding: 5px;
}

#informacion{
  height: 1200px;
}

dd{
  margin-inline-start: 0%;
  font-size: 14px;
}

aside{
  background-color: #FFD1DC;
  border-radius: 25px;
  padding: 15px;
}

li{
  list-style: none;
}

abbr{
  text-decoration: none;
}

.logo{
  width: auto;
  height: 30px;
  border-radius: 0px;
  flood-opacity: 50%;
}

h2{
  background-color: #a0deee;
  border-radius: 15px;
  padding: 10px;
}