* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;  
}

body{
       margin-top: 1%;
       margin-left: 10%;
       margin-right: 10%;
       background-color: rgb(rgb(241, 240, 238), green, blue);
}

header{
    padding: 5px;
    height: fit-content;  
}

h1{
    text-align: center;
    width: 75%;
    float: right;
    padding: 20px;
}

h2{
    padding: 5px;
}

nav{ 
    width: 75%;
    float: right;
    border-radius: 5px;
    padding: 2px;
}

button{
    border-radius: 5px;
    padding: 2px; 
    background-color: #a0deee;
    border-style: none;
}


    


#header{
    float: right;
    padding: 25px;
    width: 75%;
    text-align: right;
    margin: 10px;
    border-radius: 25px;
    background-color: #efcfd4;
}

#profile{
    padding: 5px;
    margin: 10px;
    width: 20%;
    height: auto;
    margin-left: 2%;
    
}

aside{
    width: 23%;
    float: left;
    height: 1200px;
    margin: 1%;
    padding: 5px;
    background-color: #efcfd4;
    border-radius: 15px;
}

main{
    width: 73%;
    float: left;
    margin: 1%;
    padding: 5px;
}

dd{
    margin-inline-start: 10px;
}

ul{
    list-style: none;
}

section{
    background-color: #efcfd4;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;

}

footer{
    float: left;
}